*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #595ee3;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.conatiner {
    max-width: 80%;
    height: 100vh;
    display: grid;
    margin:10px;
    padding: 30px;
    
    
}
.container .form-container{
    position: absolute;
    align-items: center;
    border: 1px solid gray;
    justify-content: center;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    margin:auto;
    padding: 25px;
    display: grid;
    grid-column: auto;


}

